body, html {
    padding: 0;
    margin: 0;

    --control-background: #2e313a;
    --header-background: #455e6e;
    --button-background: #485069;
    --button-background-hover: #5b6585;

    background-color: var(--control-background);

    display: flex;
    flex-direction: column;
    height: calc(100vh - 20px);

    /*
    Web developers hate him! Discover this one weird trick for fixing random
    scrollbars... 
    */
    overflow-y: hidden;
    overflow-x: hidden;
}

#header {
    box-shadow: 0 0 10px black;
    z-index: 99;

    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: var(--header-background);

    padding: 0 20px;
}

#header a, #header a:link, #header a:visited, #header a:hover, #header a:active {
    color: white;
}

#pane-container {
    flex: 1 1 0;
    width: 100vw;

    display: flex;
    flex-direction: row;
}

#pane-container > * {
    width: calc(50% - 2px);
    flex: 1 1 0;

    display: flex;
    flex-direction: column;
}

#left-pane #heading, #right-pane #heading {
    padding: 0 30px;

    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--control-background);
    color: white;
}

#right-pane #heading details summary h3 {
    display: inline;
}

#right-pane #heading details {
    margin-bottom: 10px;
}

#right-pane #heading details div {
    margin-top: 10px;
    padding-left: 10px;
}

#left-pane {
    float: left;
    border-right: 3px solid var(--control-background);
}

#left-pane #input-code, #right-pane #output-code {
    flex-grow: 1;
}

#convert-button {
    background-color: var(--button-background);
    color: white;
    border: none;
    border-radius: 20px;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1rem;
    
    width: 100px;
    height: 40px;
    margin: 20px 0;
    cursor: pointer;

    transition: all 0.1s linear;
}

#convert-button:hover {
    background-color: var(--button-background-hover);
}
